.card-body button{
    margin: 2px;
    width: 100%;
    height: 65px;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(151, 3, 52, 0.767),rgb(216, 103, 103));
    color: white;
    font-weight: bold;
    font-size: large;
    
}
.card-body button:hover{
    background:rgb(156, 54, 40);
    color: white;
}

.button-container{
    margin-bottom: 2%;
}
div.card-body{
    padding: 0;
    border-radius: 20px;
    
    
}
#category-list-div{
    text-align: center;
    border:  rgba(151, 3, 52, 0.767) 2px solid;
    border-radius: 30px;
    padding: 2%;
    background-color: rgba(246, 248, 144, 0.466);
}

h2{
    color:rgba(151, 3, 52, 0.767) ;
    font-weight: bold;
    font-size: 150%;
}