
<div class="button-container">
  <button class="btn btn-success btn-md" (click)="backButton()">Back</button>
</div>
<div  id="category-list-div">
  <h2>Tap on any category to get the relative Blogs</h2><br>

  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
    <div class="col" *ngFor="let category of categories">
      <!-- <div class="card mb-3"> -->

        <div class="card-body">
          <button class="btn  btn-xl" (click)="categorySelected(category)">
            {{category}}
          </button>
        </div>

      <!-- </div> -->

    </div>
  </div>
</div>
