<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{{blogs[0].img}}" height="300px" width="100%" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-sm-block">
        <h1>{{blogs[0].title}}</h1>
        <p>By- {{blogs[0].name}}</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{blogs[1].img}}" height="300px" width="100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{blogs[1].title}}</h1>
        <p>By- {{blogs[1].name}}</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{blogs[2].img}}" height="300px" width="100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{blogs[2].title}}</h1>
        <p>By- {{blogs[2].name}}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
