<div class="container contact-form">
  <div class="contact-image">
    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
  </div>
  <form #f="ngForm" (ngSubmit)="sendMail(f.value)" method="post">
    <h3>Drop Us a Message</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="txtName" class="form-control" minlength="3" required #txtName="ngModel" placeholder="Your Name *" ngModel value="" />
          <span *ngIf="(txtName.errors?.required)&&(txtName.touched)">Please Enter Your Name</span>
          <span *ngIf="(txtName.errors?.minlength)&&(txtName.touched)">Name must be of atleast 3 characters</span>
        </div>
        <div class="form-group">
          <input type="text" name="txtEmail" #txtEmail="ngModel" email required class="form-control" placeholder="Your Email *" ngModel value="" />
          <span  *ngIf="!txtEmail.valid && txtEmail.touched">Please Enter A Valid Email</span>
        </div>
        
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea name="txtMsg" #txtMsg="ngModel" minlength="10" required class="form-control" ngModel placeholder="Your Message *"
            style="width: 100%; height: 150px;"></textarea>
            <span *ngIf="!txtMsg.valid && txtMsg.touched">This Field is Mandatory and must be 10 characters</span>
        </div>
      </div>
    </div>
    <div class="form-group" id="btn-sub">
      <button type="submit" [disabled]="!f.valid" name="btnSubmit" class="btn btnContact">Send Message</button>
      
    </div>
  </form>
</div>
