
<div class="button-container">
  <button class="btn btn-success btn-md" (click)="backButton(result[0].category)">Back</button>
</div>
<mat-card class="example-card " style="margin: auto;">
  <mat-card-header>
    <div mat-card-avatar class=""><img mat-card-avatar  src="../../../shared/images/avatar.jpg"></div>
    <mat-card-title>{{result[0].name}}</mat-card-title>
    <mat-card-subtitle>{{result[0].email}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  src="{{result[0].img}}" 
  alt="Photo of Blog"
  id="card-img-main">
  <mat-card-content>
    <h1>{{result[0].title}}</h1>
  
      <pre>{{result[0].inputContent}}</pre>
   
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onEdit(result[0])">EDIT</button>
    <button mat-button (click)="onDelete(result[0])">DELETE</button>
  </mat-card-actions>
</mat-card>
