/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    padding: 2% 4% ;
    background-color: rgba(211, 211, 211, 0.233);
    
}